<section class="tabs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="onIndexChange()">
          <ng-container *ngFor="let tab of tabs">
            <mat-tab [label]="tab.heading">
              <div class="row">
                <div class="col-12">
                  <h3 class="text-center ask-question">Answers are based on the selected subject area.</h3>
                </div>
              </div>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
