<app-header></app-header>
<section class="main">
  <div class="container">
    <div class="row pt-4">
      <div class="col-12">
        <h1 class="text-center main-heading">
          How does the Chat Trinity bot work?
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 about-desc">
        <p>
          Based on ChatGPT's language processing model, the Chat Trinity bot
          interrogates data from the Trinity College London website
          <a href="#">www.trinitycollege.com</a> and a number of syllabus,
          regulation, and guidance documents to auto-generate answers to your
          questions. If the answer is vague or unhelpful; we recommend asking a
          more specific question. Over time the quality of answers will improve
          as the technology learns from your questions.
        </p>
        <p>
          There is of course no substitute for human interaction! To find
          Trinity contacts visit your local country page on the Trinity website
          -
          <a href="https://www.trinitycollege.com/local-trinity" target="_blank"
            >https://www.trinitycollege.com/local-trinity</a
          >
        </p>
        <p class="m-0">**English Language**</p>
        <p>
          For a list of the web content and document source data used,
          <a href="assets/ChatTrinityEnglishSourceData.xlsx" target="_blank"
            >click here.</a
          >
        </p>
        <p class="m-0">**Music**</p>
        <p>
          For a list of the web content and document source data used,
          <a href="assets/ChatTrinityMusicSourceData.xlsx" target="_blank"
            >click here.</a
          >
        </p>
        <p class="m-0">**Drama**</p>
        <p>
          For a list of the web content and document source data used,
          <a href="assets/ChatTrinityDramaSourceData.xlsx" target="_blank"
            >click here.</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
