/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.main {
    background-color: #eeeeee;
    min-height: 100vh;
    @media (min-width: 1400px){
        // height: calc(100vh - 110px);
        min-height: auto;
    }


    .main-heading {
        color: #040404;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .ask-question {
        color: #040404;
        font-weight: bold;
        margin-bottom: 20px;
    }
}


.mat-mdc-tab-label-container {
    @media (min-width: 1440px) {
        margin: 0 200px;
    }

    .mat-mdc-tab.mdc-tab {
        min-width: 220px;
        width: 220px;
        height: 110px;
        border: 2px solid #000;
        margin: 0 15px;
        background-color: #fff;
        font-size: 20px;

        &.mdc-tab--active {
            background-color: #692160;
        }
    }

    .mat-mdc-tab .mdc-tab__text-label,
    .mat-mdc-tab-link .mdc-tab__text-label {
        color: #692160;
        font-weight: bold;
    }

    .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
    .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
        color: #fff;
    }

    .mdc-tab-indicator .mdc-tab-indicator__content--underline {
        border-top-width: 0;
    }

}

.mat-mdc-tab-group {
    margin-bottom: 70px;

    .mat-mdc-tab-header {
        margin-bottom: 70px;
    }

    .mat-mdc-tab-body-content {
        overflow: hidden !important;
    }
}



.content-box {
    height: 110px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 16px;
    color: #692160;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.textarea {
    border: 2px solid #000;
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #fff;
    padding-right: 30px;

    textarea {
        height: 100%;
        width: 100%;
        border: none;
        resize: none;
        padding: 10px;
        outline: none;
        font-size: 16px;

        &::placeholder {
            color: #ababab;
            font-weight: bold;
            font-size: 16px;
        }
    }

    img {
        max-width: 40px;
        cursor: pointer;
    }
}


.user-question,
.user-answer {

    font-weight: 600;

    img {
        max-width: 40px;
    }

    .content {
        padding-left: 30px;
        font-weight: 500;
    }
}

.user-question {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.faq-home {
    .tabs-wrapper {
        display: none;
    }
}

.tabs-wrapper {
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;

    .mat-mdc-tab-label-container .mat-mdc-tab.mdc-tab {
        height: 60px !important;
    }

    .mat-mdc-tab-group .mat-mdc-tab-header {
        margin-bottom: 20px !important;
    }

    .mat-mdc-tab-group {
        margin-bottom: 0 !important;
    }
}

.user-answer {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: #eeeeee;
}

.clear-chat {
    a {
        font-weight: 600;
        color: #0000ff;
    }
}

.faq-inner {
    .reply-box {
        background-color: #fff;
    }
}
